{% block slangword_content %} {% for slangword in slang_words %} {% if
slangword.id == slang_words.last().unwrap().id %}
<div
  hx-get="/slangwords?page={{ page }}&limit=5"
  hx-target="#slangword_content"
  hx-trigger="revealed"
  hx-swap="afterend"
>
  <div
    hx-get="/slangword/{{ slangword.id }}"
    hx-replace-url="true"
    hx-target="#content"
    hx-swap="innerHTML"
    class="cursor-pointer w-[100%] md:w-[80%] py-4 pl-4 pr-2 shadow-xl rounded-md my-[4%] mx-auto"
  >
    <span class="p-2 bg-[#FEA86A] text-lg">{{ slangword.word }}</span>
    <p class="mb-1 p-2 bg-red-400 text-sm max-w-fit">
      use syn::{{ slangword.synonym }};
    </p>
    <p class="text-sm mt-5 text-neutral-100">{{ slangword.description }}.</p>
  </div>
</div>
{% else %}
<div
  hx-replace-url="true"
  hx-get="/slangword/{{ slangword.id }}"
  hx-target="#content"
  class="cursor-pointer w-[100%] md:w-[80%] py-4 pl-4 pr-2 shadow-xl rounded-md my-[6%] mx-auto"
>
  <span class="p-2 bg-[#FEA86A] text-lg">{{ slangword.word }}</span>
  <p class="mb-1 p-2 bg-red-400 text-sm max-w-fit">
    use syn::{{ slangword.synonym }};
  </p>
  <p class="text-sm mt-5 text-neutral-100">{{ slangword.description }}.</p>
</div>
{% endif %} {% endfor %} {% endblock %}
