{% extends "base.html" %} {% block content %}
<div class="mx-auto w-[95%] md:w-[50%] flex flex-col items-center">
  <h1 class="text-neutral-100 text-xl mb-8">Update a word</h1>
  <form
    hx-put="/slangword/{{ slangword.id }}"
    hx-target="#content"
    hx-replace-url="true"
    class="flex flex-col items-center text-lg"
  >
    <input
      type="text"
      class="p-2"
      name="word"
      placeholder="Word"
      value="{{ slangword.word }}"
      required
    />
    <input
      type="text"
      class="p-2"
      name="synonym"
      placeholder="Synonym"
      value="{{ slangword.synonym }}"
      required
    />
    <input
      type="text"
      class="p-2"
      name="description"
      placeholder="Description"
      value="{{ slangword.description }}"
      required
    />
    <button class="w-[100%] py-4 bg-rose-500">Post</button>
  </form>
</div>
{% endblock %}
